# SPM build artifacts
.build

xcuserdata
xcshareddata
*.xcuserstate
.DS_Store
#cocoa-pods
.idea/

#lock file
Gemfile.lock
Podfile.lock


#cocoapods
Pods
build
*.lock
Products/
/TikTokBusinessSDK.xcodeproj/project.xcworkspace/xcuserdata/bytedance.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
/TikTokBusinessSDK.xcodeproj/xcuserdata/bytedance.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
